.container{
    border: 1px solid black;
    margin-top: 10px;
}

header,footer{
    background-color: #DDD;
}

header, footer, main, aside{
    padding: 5px;
}

main{
    border-right: 1px dotted gray;
    background-color: rgb(191, 240, 119);
}

header{
    border-bottom: 1px dotted gray;
}

footer, aside {
    border-top: 1px dotted gray;
}

aside{
    background-color: green;
    color: greenyellow;
}

h2 {
    color: black;
}

header, footer{
    background-color: green;
}

footer {
    text-align: center;
}

header, h1 {
    font-size: 25px;
}

p{
    font-size: 18px;
}

h2 {
    font-size: 22px;
}