@import
url('http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600');

@import
url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

@import 
url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

h1 {
    background-color: whitesmoke;
    text-align:left;
}

body {
    background-color:  whitesmoke;
}

h1 {
   font-family: 'Lobster Two', cursive;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:left;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 135%;

}

aside {
    background-color: whitesmoke;
    color: gray
}

footer {
    color: gray;
}

aside h1 {
    text-align: left;
    background-color: #3C1D3D;
}

nav a:link {
    text-decoration: underline;
    color: gray;
    font-family: "Open Sans Condensed", "Arial", sans-serif;

}

nav a:visited{
    text-decoration: underline;
    color: gray;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main a:link {
    color: black;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main a:visited {
    color: black;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

